.body {
  margin: 0 auto;
  background-color: #f8f8f8;
  font-family: 'Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
.container {
  max-width: 1000px;
  padding: 100px 40px 64px 40px;
  margin-right: auto;
  margin-left: auto;
  height: 100%;
  position: relative;
}
.main {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}
@media screen and (max-width: 480px) {
  .container {
    padding: 64px 24px;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
    position: relative;
  }
}

/* ===========================================
トップページのセクション共通スタイリング
=========================================== */
.section-block {
  position: relative;
}
.section-title {
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  letter-spacing: 0.07em;
  font-size: 1.6rem;
  position: relative;
  margin-top: 0;
  margin-bottom: 48px;

  &::before {
    content: "";
    position: absolute;
    bottom: -16px;
    left: 50%;
    transform: translateX(-50%);
    height: 4px;
    width: 32px;
    background-color: #7178db;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 1.6rem;
  }
}

/* ===========================================
ブログ記事グリッドレイアウトのスタイリング
=========================================== */
.blog-card-grid {
  display: grid;
  grid-template-columns: repeat(1fr);
  gap: 20px;
  list-style: none;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-left: 0;
  padding-left: 0;
}

@media screen and (max-width: 768px) {
  .section-block {
    &:not(&:first-child) {
      margin-top: 80px;
    }
  }
  .blog-card-grid {
    grid-template-columns: 1fr;
    row-gap: 24px;
  }
}
@media screen and (max-width: 425px) {
  .blog-card-grid {
    row-gap: 24px;
  }
}