.blog-post-page {
  background-color: #f7f7f7;
  margin: 0 auto;
}

.content {
  max-width: 1080px;
  padding: 48px 24px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  column-gap: 24px;
}
@media screen and (max-width: 960px) {
  .content {
    flex-direction: column;
    padding: 24px 0;
  }
}

/* =========================================
【左側】記事内容のスタイリング
========================================= */
.mainContents {
  flex: 8;
  position: relative;
  padding: 30px 32px;
  background-color: #fff;
  border: 1px solid #dddddd;
  min-width: 0;
  line-height: 2;
  font-size: 0.95rem;
}
@media screen and (max-width: 768px) {
  .mainContents {
    padding: 24px;
  }
}
@media screen and (max-width: 480px) {
  .mainContents {
    padding: 16px;
  }
}

.blog-post {
  
  &-category {
    font-size: 0.75rem;
    display: block;
    text-align: center;
  }
  &-title {
    line-height: 1.5;
    font-size: 1.8rem;
    margin-top: 48px;
  }
  &-metas {
    display: flex;
    justify-content: space-between;
  }
  &-Thumbnail {
    border: 1px solid #dddddd;
    margin-top: 48px;
  }
  &-text {
    margin-top: 48px;
    max-width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;

    h2 {
      color: #333;
      position: relative;
      padding-left: 8px;
      font-size: 1.6rem;
      
      &:not(:first-of-type) {
        margin-top: 64px;
      }
      &::before {
        content: "";
        position: absolute;
        bottom: -5px;
        left: 0;
        display: block;
        height: 6px;
        width: 20%;
        background-color: #2ec693;
      }
      &::after {
        content: "";
        position: absolute;
        bottom: -5px;
        right: 1px;
        display: block;
        height: 6px;
        width: 80%;
        background-color: #7e7e7e;
      }
    }

    h3 {
      border-left: 5px solid #2ec693;
      padding: 0 0 0 0.58em;
      font-size: 1.2rem;
      margin-top: 64px;

      &:first-child {
        margin-top: 0;
      }
    }

    a {
      display: inline-block;
      text-decoration: none;
    }

    p {
      text-align: justify;
      hyphens: auto;
    }
  }
  &-tag {
    display: inline-block;
    margin-right: 0.5em;
    padding: .6em;
    line-height: 1;
    text-decoration: none;
    color: #333;
    background-color: #fff;
    border: 1px solid #333;

    &:before {
      content: "#";	
    }
  }
}
@media screen and (max-width: 768px) {
  .blog-post-title {
    margin-top: 32px;
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 400px) {
  .blog-post {

    &-title {
      margin-top: 24px;
      font-size: 1.2rem;
    }
    &-tag {
      font-size: 0.8rem;
    }
  }
}

.created-at {
  font-size: 0.8rem;
  text-align: right;
}

table {
  padding: 16px 0;
  thead {
    background-color: #e3e3e3;
  }
  tbody {
    tr {
      td {
        padding: 0 8px;
      }
    }
    tr:nth-child(even) {
      background-color: #e3e3e3;
    }
    tr:nth-child(odd) {
      background-color: #f8f8f8;
    }
  }
}

/* =========================================
【右側】サイドバーのスタイリング
========================================= */
.sidebar {
  flex: 3;
  position: sticky;
  top: 20px;
  height: 100%;
  
  &-section {
    padding: 24px;
    background-color: #fff;
    border: 1px solid #dddddd;
    margin-top: 24px;

    &:first-child {
      margin-top: 0;
    }
  }
  &-title {
    font-size: 0.95rem;
    font-weight: 100;
    border-bottom: 1px solid #dddddd;
  }
}

.author {
  display: flex;
  justify-content: flex-start;
  column-gap: 16px;

  &-image-circle {
    position: relative;
    width: 60px;
    height: 60px;
    border: 1px solid #dddddd;
    border-radius: 50%;
    overflow: hidden;
  }
  &-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  &-name {
    text-align: center;
    font-size: 0.9rem;
    font-weight: 600;
  }
  &-title {
    font-size: 0.8rem;
  }
}

.latest-posts {
  list-style: none;
  margin-left: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
