.card {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
  min-height: 120px;
  border: 1px dashed #888;
  border-radius: 3px;
  padding: 0 8px;  
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    background-color: #fff;
    border-color: transparent;
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
  }
  
  &-link {
    text-decoration: none;
    margin-bottom: 16px;
  }
  &-thumbnail {
    flex: 3;
    overflow: hidden;
    position: relative;
    width: 50px;
  }
  &-image {
    width: 100%;
    position: relative;
  }
  &-body {
    flex: 7;
  }
  &-title {
    font-size: 0.8rem;
    font-weight: 100;
    color: #333;
    display: inline;
  }
}