
@use'../styles/variable';

.footer {
  position: relative;
  width: 100%;
  padding: 40px 0;
  background-color: #fff;
  
  &-inner {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-nav-list {
    display: flex;
    column-gap: 24px;
    list-style: none;
    padding-left: 0;
  }
  &-nav-link {
    color: variable.$textColor;
    text-decoration: none;
    font-size: 0.95rem;
    position: relative;

    &::after {
      cursor: pointer;
      content: "";
      display: inline-block;
      width: 100%;
      height: 1px;
      background-color: variable.$textColor;
      position: absolute;
      bottom: -4px;
      left: 0;
      transition: all 0.3s;
      transform: scale(0, 1);
      transform-origin: center top;
    }
    &:hover {
      
      &::after {
        transform: scale(1, 1);
      }
    }
  }

  &-copyright {
    padding: 0 40px;

    small {
      font-size: 0.7rem;
    }
  }
}

@media screen and (max-width: 988px) {
  .footer {
    &-inner {
      flex-direction: column;
      row-gap: 40px;
    }
    &-nav-list {
      column-gap: 32px;
    }
  }
}
@media screen and (max-width: 480px) {
  .footer {
    &-nav-link {
      font-size: 0.8rem;
    }
    &-nav-list {
      column-gap: 24px;
    }
  }
}