.header {
  position: relative;
  // position: fixed;
  // z-index: 100;
  width: 100%;
  // box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);
  border-bottom: 1px solid #c2c2c2;
  background-color: #fff;
  
  &-inner {
    height: 60px;
    padding-left: 40px;
    padding-right: 40px;
    margin: 0 auto;
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-link {
    text-decoration: none;
    color: #333;
    position: relative;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    column-gap: 4px;
  }
  &-logo {
    width: 40px;
    top: -3px;
  }
  &-title {
    font-family: 'Arial Black','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
    margin: 0;
    font-weight: 100;
  }
  &-ul {
    display: flex;
    column-gap: 28px;
    list-style: none;
    text-transform: uppercase;
  }
}

@media screen and (max-width: 768px) {
  .header-nav {
    display: none;
  }
}